# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Temporary files
tmp/
.temp

# Build files
dist/
build/

# Coverage
coverage/

# Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore stripe executable
stripe.exe